<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGA Tour</title>
    <link rel="stylesheet" href="/css/uikit.almost-flat.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/js/uikit.min.js"></script>
</head>
<body>
{{> header }}
    {{{body}}}
{{> footer }}
</body>
</html>
